<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="overlay"></div>
    <nav>
        <h2>URL Shortener</h2>
    </nav>
    <div class="container">
        <h1>Enter url to be shortned!</h1>
        <form action="/submit" method="post">
            <input type="text" placeholder="Enter your link here" name="link">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>