<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <nav>
        <h2>URL Shortener</h2>
    </nav>
    <div class="container">
        <h1>Your Link is:</h1>
        <a href="http://localhost:8080/url/<%=link2.ids%>">
            <p>http://localhost:8080/url/<%=link2.ids%></p>
        </a>
    </div>
</body>
</html>